body {
    margin: 0;
    font-family: Helvetica, sans-serif
}

header {
    position: fixed;
    padding: 5px;
    top: 0;
    height: 45px;
    width: 100%;
    z-index: 900;
    border-bottom: 1px solid black;
    background-color: darkgrey;
    color: white;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    vertical-align: top;
    display: inline-block;
}

nav {
    float: right;
    vertical-align: top;
}

.menu {
    font-size: 1.3em;
    margin: 0;
    padding: 5px;
}

.menu li {
    display: inline;
    margin: 0px 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

main {
    position: relative;
    top: 60px;
    margin-bottom: 80px;
}

.title {
    margin: 0;
    text-align: center;
    border-bottom: 2px dotted black;
    box-sizing: border-box;
}

.section {
    margin: 10px auto 10px auto;
    width: 90%;
    border: 1px solid black;
}

.flexbox-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 10px 10px;
}

.color-item {
    border: 1px solid black;
    min-height: 100px;
    margin: 10px 10px;
    text-align: center;
    padding: 10px;
    color: white;
}

#cool-blue {
    background-color: #2d5dcc;
}

#pink {
    background-color: #d957d9;
}

#mint-green {
    background-color: #4fe0b0;
}

#beige {
    background-color: #efd9ca;
}

#wsw-blue {
    background-color: #003d77;
}

#red {
    background-color: #da072c;
}

#candy-apple-red {
    background-color: #ff0800;
}

#purpur {
    background-color: #9648ab;
}

.code {
    font-family: 'Courier New', Courier, monospace;
}

.fonts-item {
    border-left: 1px solid black;
    min-height: 100px;
    margin: 10px 10px;
    padding: 10px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

#nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
}

#source-code-pro {
    font-family: 'Source Code Pro', monospace;
}

#poppins {
    font-family: 'Poppins', sans-serif;
}

#tomorrow {
    font-family: 'Tomorrow', sans-serif;
}

#times {
    font-family: 'Times New Roman', Times, serif;
}

#gothic-medium {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.text-styles-item {
    min-height: 100px;
    margin: 10px 10px;
    padding: 10px;
}

.buttons-item {
    text-align: center;
    margin: 10px 10px;
    padding: 20px;
}

.buttons-anchor {
    padding:20px;
    border-radius: 3px;
    text-decoration: none;
}

#button-white {
    background-color: white;
    color:black;
    border: 2px solid blue;
}

#button-red {
    background-color: #f44336;
    color:white;
    border: 2px solid black;
}

#button-red-cicle {
    background-color: red;
    border: 2px solid black;
    color: white !important;
    border-radius: 50%;
}

#button-blue {
    background-color: blue;
    color: white !important;
}

footer {
    padding: 5px;
    height: 45px;
    width: 100%;
    border-top: 1px solid black;
    background-color: darkgrey;
    color: white;
    box-sizing: border-box;
}

.buttons-anchor:hover {
    background-color: #008cba;
    opacity: 0.5;
}