* {
    box-sizing: border-box;
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    margin: 0;
}

p {
    font-size: 22px;
}

h1, 
h2,
h4,
h5,
figcaption {
    opacity: 0.9;
    font-family: helvetica;
    color: seashell;
    text-align: center;
}

header {
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 69px;
    z-index: 1;
    border-bottom: 1px solid white;
    z-index: 999;
}


#logo {
    padding-left: 10px;
    height: 50px;
}

nav {
    display: flex;
    gap: 20px;
    padding-right: 10px;
}

nav a {
    text-decoration: underline;
}

main {
    position: relative;
    top: 69px;
}

.banner {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-image: url('./../images/img-mission-background.jpg');
    background-position: center;
    text-align: center;
    padding: 327px 0;
}

.banner h2, .banner h4{
    padding: 10px;
}

img {
    width: 300px;
    height: 200px;
    padding: 10px 0;
}

.featured-tea {
    padding: 40px 0;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

.featured-tea h2, .featured-tea h3 {
    padding: 10px;
}

.teas1, .teas2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 5px 0;
}

figcaption {
    font-weight: bold;
}

.locations-title {    
    text-align: center;
    padding: 50px 0 15px 0;
}

.locations {
    background-image: url('./../images/img-locations-background.jpg');
    background-position: center;    
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.downtown, .east-bayside, .oakdale {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    width: 300px;
    height: 250px;
    text-align: center;
}

.footer-section {
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}

.subfooter {
    float: left;
    padding: 10px;
}