.conteiner {
    display: grid;
    grid-template-rows: repeat(2, 50px);
    grid-template-columns: repeat(2, 100px);
    grid-auto-rows: 60px;
    grid-auto-columns: 70px;
}

.item {
    border: 1px solid black;
}