:root {
    --primary-color: #000;
    --light-gray-color: #EEEEEE;
    --secondary-color: crimson;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

a {
    text-decoration: none;
}

.menu {
    position: fixed;
    background: white;
    top: 0;
    width: 100%;
    border-bottom: 1px solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}


.menu-spacing {
    height: 65px;
}

.section {
    min-height: 100vh;
}